/* Global Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f4;
  color: #333;
  line-height: 1.6;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0; /* Remove default margin */
}

.app-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh; /* Ensures the app fills the entire height */
  /*background: linear-gradient(135deg, #6e7cfc, #78b3ff);*/
  padding: 20px;
}

.main-content {
  width: 100%;
  max-width: 800px;
  text-align: center;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.1);
  padding: 40px;
  margin-top: 20px;
}

.app-title {
  font-size: 2.5rem;
  margin-bottom: 30px;
  color: #333;
  font-weight: bold;
  text-transform: uppercase;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px 20px;
  background-color: #333;
  color: white;
  border-radius: 8px;
  margin-bottom: 20px;
}

.navbar .logo {
  font-size: 1.8rem;
  font-weight: 700;
}

.navbar .navLinks {
  list-style: none;
  display: flex;
  gap: 15px;
}

.navbar .navLinks li a {
  text-decoration: none;
  color: white;
  font-size: 16px;
  font-weight: 500;
  transition: color 0.3s;
}

.navbar .navLinks li a:hover {
  color: #1e90ff;
}

/* RecordAudio Button */
button {
  padding: 12px 24px;
  font-size: 1.2rem;
  background-color: #1e90ff;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 20px;
}

button:hover {
  background-color: #007bff;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

/* Audio Player */
audio {
  margin-top: 20px;
  width: 100%;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Transcription Box */
.transcription-box {
  border: 2px solid #1e90ff;
  padding: 20px;
  border-radius: 10px;
  background-color: #f9f9f9;
  margin-top: 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.transcription-box h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.transcription-box p {
  font-size: 1.2rem;
  color: #333;
}

.transcription-box .placeholder {
  font-size: 1rem;
  color: #aaa;
  font-style: italic;
}

.transcription-box .text {
  word-wrap: break-word;
  font-size: 1.1rem;
  color: #333;
  line-height: 1.5;
}
